---
layout: layout_arte_2.njk
title: Arte Tucán
---

<div id="gallery">
    <h1>Gallery</h1>
    <!-- Slides -->
    <div id="slides-container">
        <a class="controls" id="prev" onclick="prevSlide()">&#10094;</a>
        <a class="controls" id="next" onclick="nextSlide()">&#10095;</a>
    </div>

    <!-- Caption -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>
    
    <!-- Thumbnails -->
    <div id="thumbnail-row"></div>
</div>

<div class="posts" id="about-me">
    <h1>Sobre mí y mi taller</h1>

    <p>Mi trabajo consiste en la elaboración de figuras talladas en madera las cuales representan principalmente aves típicas del territorio mexicano.</p>
    <p>Yo, Hesiquio Ruiz, nací el 15 de mayo de 1962 en un pueblo de la sierra de Oaxaca. Mi pueblo natal se llama San Mateo Piñas perteneciente al municipio de San Pedro Pochutla y tiene una población de un poco más de 2000 habitantes.</p>
    <p>A la edad de 24 años sufrí un accidente mientras trabajaba la tierra en el campo lo que me dejó imposibilitado para caminar. Acualmente tengo que usar una silla de ruedas para desplazarse.</p>
    <p>En 1996 decidí viajar a la comunidad de Zipolite con el objetivo de quedarme a vivir allí. Desde esa fecha radico en la Colonio Los Mangos cerca de la “Playa del Amor” trabajando en la elaboración y el diseño de artesanías de madera.</p>
</div>

<div class="posts" id="orders">
    <h1>How to order</h1>

    <p>You can order my birds by sending me a simple text message via WhatsApp.</p>
    <p>Contact: Hesiquio Ruíz Mtz.</p>
    <p>Tel: <em>958 584 32 55</em></p>
    <p>Please send me the name of the birds (as it is shown in the gallery) and the amount you wish to order.</p>

    <h2>Prices</h2>

    <p>The prices are very dependent on the type of bird as they differ in size and details. In addition there's a discount when ordering several birds at once. In order to give you an idea here are some approximated values:</p>

    <ul>
        <li>big birds: 300$</li>
        <li>medium birds: 250$</li>
        <li>small birds: 200$</li>
    </ul>
</div>