<h1>Gallery</h1>
<div class="container">

    <div id="slides-container">
        <a class="controls" id="prev" onclick="prevSlide()">&#10094;</a>
        <a class="controls" id="next" onclick="nextSlide()">&#10095;</a>
    </div>

    <!-- Image text -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>
    
    <!-- Thumbnail images -->
    <div id="thumbnail-row"></div>
</div>