<!--
<div class="menu-item" id="gallery">Galería</div>
<div class="menu-item" id="about-me">Sobre mí y mi taller</div>
<div class="menu-item" id="orders">Precios y pedidos</div>
-->




<!--
<div class="menu-item">4</div>
<div class="menu-item">5</div>
-->